.link {
    margin-left: 0;
    text-decoration: none;
    position: relative;
    margin-right: 20px;
  }
  
  .text {
    position: absolute;
    top: -15px;
    left: -21px;
    background-color: transparent ;
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: normal;
    font-size: 0.8rem;
    color: #333;
  }