.productDetails{
}

.product-container{
    display: flex;
    flex-direction: column;
}

.productDetails-mainBlock{
    width: 100%;
    display: inline-flex;
}

.productDetails-imgCont{

}

.productDetails-img{
    max-height: 500px;
    max-width: 500px;
    margin: 20px;
}

.productDetails-infoblock{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.productDetails-upperRow{
    display: inline-flex;
    justify-content: flex-end;
}

.productDetails-cat{

}

.productDetails-title{

}


.productDetails-additionalBlock{

}

.productDetails-description{

}

.productDetails-lowerRow{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}


.productDetails-price{
    font-size: 30pt;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productDetails-addToCart{
    display: inline-flex;
}

.productDetails-quantity{
    width: 100px;
    height: 80px;
    background-color: #eee;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 16pt;
}

.productDetails-buyBtn{
    width: 80px;
    height: 80px;
    background-color: #eee;
    border-radius: 20px;
    padding: 12px 15px;
    margin: 10px;
    font-size: large;
    background: url('../../../public/img/icons8-shopping-basket-64.png') no-repeat center;
    background-size: 60px;
}

.productDetails-viewedProducts{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.viewedProductsLink{
    margin-right: 20px;
}