.productDetails{
}

.product-container{
    display: flex;
    flex-direction: column;
}

.productDetails-mainBlock{
    width: 100%;
    display: inline-flex;
}

.productDetails-imgCont{

}

.productDetails-img{
    max-height: 500px;
    max-width: 500px;
    margin: 20px;
}

.productDetails-infoblock{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.productDetails-upperRow{
    display: inline-flex;
    justify-content: flex-end;
}

.productDetails-cat{

}

.productDetails-title{

}


.productDetails-additionalBlock{

}

.productDetails-description{

}

.productDetails-lowerRow{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}


.productDetails-price{
    font-size: 30pt;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productDetails-addToCart{
    display: inline-flex;
}

.productDetails-number{
    display: inline-block;
	position: relative;
    height: 80px;
    margin: 10px;
}

.productDetails-quantity{
    display: block;
    width: 130px;
    height: 79px;
    background-color: #eee;
    border: none;
    border-bottom:2px solid grey;
    border-radius: 20px;
    padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-size: 26pt;
    text-align: center;
	outline: none;
    line-height: 40px;
}

.productDetails-quantity::-webkit-inner-spin-button {
	display: none;
}

.number-minus {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	width: 35px;
	padding: 0;
	display: block;
	text-align: center;
	border-right: 1px solid #ddd;
	font-size: 26px;
	font-weight: 600;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.number-minus:hover {
    background-color: grey;
}

.number-plus {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 35px;
	padding: 0;
	display: block;
	text-align: center;
	border-left: 1px solid #ddd;
	font-size: 26px;
	font-weight: 600;
    border-radius: 0 20px 20px 0;
    outline: none;
}

.number-plus:hover {
    background-color: grey;
}

.productDetails-buyBtn{
    width: 80px;
    height: 80px;
    background-color: #eee;
    border-radius: 20px;
    padding: 12px 15px;
    margin: 10px;
    font-size: large;
    background: url('../../../public/img/icons8-shopping-basket-64.png') no-repeat center;
    background-size: 60px;
}

.productDetails-viewedProducts{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.viewedProductsLink{
    margin-right: 20px;
}