
.admin-header{
    width: 1200px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: lightblue;
    opacity: 1;
}

.admin-header_logo{
    margin: 10px 50px 10px 10px;
}

.admin-header-content-block{
    width: 90%;
    text-align: center;
    
}

.admin-header-content{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.admin-header-link{
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.admin-header-link:last-child{
    border: 1px solid red;
    border-radius: 15px;
    background-color: red;
}

.admin-header-link:visited{
    color: black;
}

.admin-header-link:hover{
    color: grey;
}

.admin-header-link:last-child:hover{
    background-color: lightcoral;
}