
.admin-header{
    width: 1200px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: lightblue;
    opacity: 1;
}

.admin-header_logo{
    margin: 10px 50px 10px 10px;
}

.admin-header-content-block{
    width: 90%;
    text-align: center;
    
}

.admin-header-content{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}