.modal-window{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.modal-window-container{
    position: absolute;
    top: 200px;
    right: 200px;
    left: 200px;
    z-index: 2000;
    min-height: 300px;
    min-width: 200px;
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
    opacity: 1;
    text-align: center;
}