.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 300px;
  width: 100%;
  margin: 10px 0;
}

.slider-slide-container{
  position: relative;
  left: 15%;
  width: 70%;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.slide-navigation {
  position: absolute;
  top: 50%;
  z-index: 5;
  width: 10%;
}
  
.slider-slide {
  position: absolute;
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
  
.slider-slide.active {
  opacity: 1;
}
  
.slider-slide-img {
  height: 100%;
  width: 90%;
  object-fit: scale-down;
}

.slider-imgContainer{
  width: 50%;
  display: flex;
  justify-content: center;
}

.slider-contentContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  
.slider-content {
  
}

.slider-slide-title{

}

.slider-descriptionContainer{
  width: 90%;
  font-size: 16pt;
  line-height: 1.5;
}

.slider-slide-content{
  text-align: left;  
  height: 4.5em;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden!important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.slider-slide-detailsbtn{
  margin-bottom: 10px;
}

  
  .slider-btn {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url('../../../public/img/icons8-arrow-64.png') center no-repeat;
    border-radius: 50%;
    border: none;
    background-color: #ccc;
    cursor: pointer;
    outline: none;
    
  }

  .left {
    position: absolute;
    left: 5%;
    transform: rotate(180deg);
  }

  .right{
    position: absolute;
    right: 5%;
  }
  
  .slider-btn:hover{
    background-color: grey;
    
  }

  .slider-btn:active{
    background-color: #ccc;
  }
