
.admin-base-container-x{
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: lightblue;

}

.admin-base-container-y{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1200px;
}

.admin-main{
    height: 100%;
    width: 100%;
    margin-top: 20px;
}