  .product-table-col-y{
    display: inline-flex;
    justify-content: space-between;
    min-width: 80px;
  }
  
  .product-table-img{
    width: 30px;
    height: 30px;
  }

  .product-table-img:hover{
    opacity: 0.5;
  }