.profile-container{
    width: 100%;
}
.profile-container-header{
    text-align: center;
    margin: 50px;
}

.profile-main-block{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.profile-photo{
    width: 200px;
    height: 200px;
}

.profile-photo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.profile-user-info{

}

.profile-user-infoBlock{
    min-width: 200px;
    background-color: #e5e5e5;
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.profile-user-info-row{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 10px;
}

.profile-user-info-edit{
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.profile-user-text{
    display: flex;
    align-items: center;
    width: 100%;
}

.credit{
    flex-direction: column;
    text-align: center;
}

.debet-link{
    text-decoration: none;
    text-align: center;
    color: black;
    width: 100%;
}