.profile-container{
    width: 100%;
}
.profile-container-header{
    display: flex;
    justify-content: space-between;
}

.profile-main-block{
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.profile-photo{
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.profile-photo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-user-info{

}

.profile-user-info-row{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 10px;
}

.profile-user-info-edit{
    align-items: center;
    width: 30px;
    height: 30px;
}