.navigation-menu{
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 100%;
    margin-top: 10px;
}

.geolocation-img{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.nav-geolocation{
    display: inline-flex;
    cursor: pointer;
}

.nav-geolocation:hover{
    opacity: 0.5;
}

.nav-geolocation:hover .geolocation-img{
    transform: scale(1.2);
}

.header-btn-link{
    color: black;
    text-decoration: none;
}

.header-btn-link:hover{
    opacity: 0.5;
}