
.admin-header{
    width: 1200px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(173, 216, 230);
    opacity: 1;
}

.admin-header_logo{
    margin: 10px 50px 10px 10px;
}

.admin-header-content-block{
    width: 90%;
    text-align: center;
    
}

.admin-header-content{
    margin: 10px 20px;
}

.admin-header-link, .admin-header-sublink{
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-size: large;
}

.admin-header-link:last-child{
    border: 1px solid red;
    border-radius: 15px;
    background-color: red;
}

.admin-header-link:visited{
    color: black;
}

.admin-header-link:hover{
    color: grey;
}

.admin-header-link:last-child:hover{
    background-color: lightcoral;
}


  .topmenu > li {
    display: inline-flex;
    margin-right: 20px;
    position: relative;
    list-style: none; 

  }
  .topmenu > li:last-child {
    margin-right: 0;
  }
  
  .submenu {
    position: absolute;
    list-style: none; 
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;

  }

  .admin-header-content .submenu {
    display: none;
    background: rgb(97, 148, 165);
  }

  .admin-header-content ul li:hover .submenu {
    display: block;
    text-align: left;
    min-width: max-content;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    
  }

  .submenu li a {
    color: white;
    text-decoration: none;
  }

  .submenu li a:hover {
    color: black;
  }